#red {
  color: #b22222;
  font-size: 30px;
  margin-bottom: 6px;
}
div {
    text-align: center;
  }
a {
  display: flex;
  font-size: 10px;
  text-decoration: none;
  margin-top: 50px;
  font-weight: 600;
  font-family: arial;
  background-color: #b22222;
  color: black;
  height: 30px;
  align-items: center;
  justify-content: center;
}
body > div {
  width: 250px;
  border: 5px solid #b22222;
  height: 125px;
  background-color: white;
  
}
body > div > div {
  font-size: 10px;
}
#a {
  position: absolute;
  top: 10%;
  right: 5%;
  animation-name: a;
  animation-duration: 3s;
}
@keyframes a {
    10% {transform: scale(2.5);}
}
#b {
  position: absolute;
  top: 10%;
  left: 5%;
  animation-name: b;
  animation-duration: 3s;
}
@keyframes b {
    20% {transform: scale(2.5);}
}
#c {
  position: absolute;
  bottom: 10%;
  right: 5%;
  animation-name: c;
  animation-duration: 3s;
}
@keyframes c {
    30% {transform: scale(2.5);}
}
#d {
  position: absolute;
  bottom: 10%;
  left: 5%;
  animation-name: d;
  animation-duration: 3s;
}
@keyframes d {
    40% {transform: scale(2.5);}
}
#e { 
    position: absolute;
    top: 40% ;
    right: 8%;
    animation-name: e;
    animation-duration: 3s;
}
@keyframes e {
    50% {transform: scale(2.5);}
}
#f {
    position: absolute;
    top: 40%;
    left: 8%;
    animation-name: f;
    animation-duration: 3s;
}
@keyframes f {
    60% {transform: scale(2.5);}
}
#g {
    position: absolute;
    top:13% ;
    right: 40%;
    animation-name: g;
    animation-duration: 3s;
}
@keyframes g {
    70% {transform: scale(2.5);}
}
#h {
    position: absolute;
    bottom: 13%;
    right: 40%;
    animation-name: h;
    animation-duration: 3s;
}
@keyframes h {
    80% {transform: scale(2.5);}
}
#i {
    position: absolute;
    top:36%;
    right: 40%;
    animation-name: i;
    animation-duration: 3s;
}
@keyframes i {
    90% {transform: scale(2.5);}
}

